<h2>Question Details</h2>
<div class="horizontal-scroll" ba-panel>
   <form>
      <div class="col-md-12">
         <div class="form-group">
            <div class="col-md-12" ng-repeat="value in quesData">
               <div class="col-md-12">
                  <label></label>
                  <textarea placeholder="Question description" class="form-control" ng-model="value.questionText"></textarea>
               </div>
               <div class="col-md-6" style="margin-top:2%">
                  <select class="form-control" ng-model="value.questionType">
                     <!-- <option value="" selected="" disabled="" style="display:none">Select</option> -->
                     <option value="{{value.questionType}}" style="background-color: rgba(0, 0, 0, 0.34);">{{value.questionType}}</option>
                     <option value="Descriptive" style="background-color: rgba(0, 0, 0, 0.34);">Descriptive</option>
                  </select>
               </div>
               <div class="col-md-6" style="margin-top:2%">
                  <input type="number" placeholder="Marks" class="form-control" ng-model="value.marks" />
               </div>
               <div class="col-md-12" id="Single Answered" style="margin-top:3%;">
                  <div class="col-md-6" style="margin-left: -38px;padding: 0px">
                     <span style="margin-top:2%">Click on correct answer</span>
                     <div class="row">
                        <div ng-repeat= 'val in value.answers' class="col-md-6">
                           {{val.Correctans}}
                           <li style="display: flex;padding: 2%"  ng-repeat= 'opt in val.Options'>
                              <input type="text" class="form-control" placeholder="option"  value="{{opt.description}}" ng-model="opt.description"/>        
                              <div class="has-success">
                                 <label class="radio-inline custom-radio nowrap" style="margin-top: 8px;margin-left: 8px;" > 
                                 {{val.Correctans[opt.id]}}  {{opt.id}}
                                 <input type="radio" name="opt.id" ng-model="val.Correctans[opt.id]" >
                                 <span></span>
                                 </label>
                              </div>
                           </li>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12" style="margin-top: 2%;" align="center">
                  <a href="/#/dashboard/groupmgm/quesview">
                  <button type="button" class="btn btn-primary btn-raised" style="float: initial;" >Back</button>
                  </a>
                  <button type="submit" class="btn btn-primary btn-raised" ng-click="updateQuestions(value)">Update</button>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
<style type="text/css">
   .content-top {
   display: none;
   }
   .form-control {
   border: 1px solid;
   }
</style>