<div class="horizontal-scroll" ba-panel>
 <form>
  <div class="col-md-12">
   <div class="form-group">
    <div class="col-md-12" ng-repeat="value in qData" >
     <div class="col-md-12">
      <label></label>
      <textarea placeholder="Question description" class="form-control" ng-model="value.questionText"></textarea>
    </div>
    <div class="col-md-6" style="margin-top:2%">
      <select class="form-control" ng-model="value.questionType">
       <option value="" selected="" disabled="" style="display:none">Select</option>
       <option value="Single Answered" style="background-color: rgba(0, 0, 0, 0.34);">Single Answered</option>
     </select>
   </div>
   <div class="col-md-6" style="margin-top:2%">
    <input type="number" placeholder="Marks" class="form-control" ng-model="value.marks" />
  </div>
  <div class="col-md-12" id="Single Answered" style="margin-top:3%;">
    <div class="col-md-6" style="margin-left: -38px;padding: 0px">
     <UL style="list-style-type:none">
      <span style="margin-top:2%">Click on correct answer</span>
      <div class="row">
        {{value.answers.Options}}{{value.answers.Correctans}} 
         <div ng-repeat= 'val in value.answers.Options' class="col-md-6"> <!--  -->
          <li style="display: flex;padding: 2%" >
           <input type="text" class="form-control" placeholder="option"  value="{{val}}" ng-model="val"/>        
           <div class="has-success">
            <label class="radio-inline custom-radio nowrap" style="margin-top: 8px;margin-left: 8px;"> {{value.answers.Correctans[ca]}} 
          <input type="radio"  ng-value="{{value.answers.Correctans[ca]}}" ng-model="answers.Correctans[ca]">
             <span></span>
           </label>
         </div>
     	</li>
	 </div>
	</div>
 </UL>
</div>
</div> 
<div class="col-md-12" style="margin-top: 2%;" align="center">
  <a href="/#/dashboard/questions/questionslist">
    <button type="button" class="btn btn-primary btn-raised" style="float: initial;" >Back</button>
  </a>
  <button type="submit" class="btn btn-primary btn-raised" ng-click="updateQuestions(value.questionId,value)">Update</button>
</div>
</div>
</div>
</div>
</form>
</div>